<div class="main_info">
  <h1 class="logo">{{logo}}</h1>
  {{#if logo__description}}
    <p class="logo__description">Ломайте посуду, ругайтесь матом и курите в помещении.
      <br>
      <i>
        Но оставляйте чаявые официантам, им еще за вами убирать.
      </i>
    </p>
  {{/if}}

</div>