<li class="nav__item"><a class="nav__link" href="/index.hbs">Главная</a></li>
<li class="nav__item"><a class="nav__link" href="#">Акции</a></li>
<li class="nav__item"><a class="nav__link" href="/news.hbs">Новости</a></li>
<li class="nav__item"><a class="nav__link" href="#">Доставка</a></li>
<li class="nav__item"><a class="nav__link" href="/menu">Меню</a></li>