<div class="session__form">
  <label>
    <textarea name="email" class="session__text">Почта</textarea>
  </label>
  <label>
    <textarea name="password" class="session__text">Пароль</textarea>
  </label>
  <button class="session__button" type="submit"
          onclick="signInClicked(document.getElementsByName('email')[0].value, document.getElementsByName('password')[0].value)">
    Вход
  </button>
  <button class="session__button" type="submit"
          onclick="signUpClicked(document.getElementsByName('email')[0].value, document.getElementsByName('password')[0].value)">
    Регистрация
  </button>
</div>