<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="ресторан Моветон в СПБ" />
  <meta name="keywords" content="ресторан,моветон,Санкт-Петербург,СПБ" />
  {{> shared_scripts_styles}}
  <link href="src/css/form.css" rel="stylesheet">
  <title>ресторан "Моветон" в СПБ - новости</title>
</head>
<body>
{{> header}}
<main>
  {{> main_info logo='Новости'}}
  <div class="news">
    <form class="form">
      <h2 class="form__question">Какие мероприятия вы хотели бы увидеть?</h2>
      <div class="form_inner">
        <input class="form__input" type="text" value="">
        <button class="form__button">
          Предложить
        </button>
        <select class="form__select">
          <option value="all">Все</option>
          <option value="new">Предложенные</option>
          <option value="completed">Проведенные</option>
        </select>
        <div class="form__container" form_option="all">
        </div>
      </div>
    </form>
  </div>
</main>
{{> footer}}
<script src="src/scripts/form.js"></script>
</body>
</html>